* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
}

body {
    background: grey;
    color: #111;
    background: #F8F6F0;
    
}

/* NAV */
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}


.brand {
    padding: 10px 10px
}

.hamburger {
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 2px;
    background: #000;
    margin: 6px 0;
}

/* FULLSCREEN MENU */
.fullscreen-menu {
    position: fixed;
    inset: 0;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 0.4s;
    z-index: 999;
}

.fullscreen-menu.show {
    transform: translateY(0);
}

.fullscreen-menu a {
    color: #fff;
    font-size: 2rem;
    margin: 15px;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 100vh;
    margin: 0;

    overflow: hidden;
    position: relative;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.3);

}

.hero h1 {
    font-size: 5rem;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
}

.hero p {
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

.motto {
    margin-top: 15px;
    font-size: 1.2rem;
}

/* SERVICES */
.services {
    display: flex;
    padding: 120px 5%;
    gap: 5%;
}

.text-column {
    width: 50%;
    
}

.text-column h2 {
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
}

.text-column p {
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.7rem;
}

.service {
    margin-top: 200px;
    margin-bottom: 500px;
    opacity: 0.3;
    transition: 0.3s;
}

.service.active {
    opacity: 1;
}

.image-column {
    width: 50%;
    position: sticky;
    top: 60px;
    height: 650px;
}

.image-column img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    opacity: 0;
    transition: 0.4s;
}

.image-column img.active {
    opacity: 1;
}


/* MOBILE */
@media (max-width: 900px) {
    .services {
        flex-direction: column;
    }

    .text-column,
    .image-column {
        width: 100%;
    }

    .image-column {
        position: relative;
        height: 300px;
        margin-bottom: 60px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }


}